.login-button {
  padding: 10px 20pxm;
  background-color: #3498db;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  color: #fff;
  margin-left: auto;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.8rem;
  padding: 0.5rem;
  background-color: #4caf50;
  color: rgb(45, 4, 4);
  font-weight: bolder;
  text-align: left;
  background-image: linear-gradient(
    to bottom,
    green 0%,
    rgb(177, 177, 20) 50%,
    green 100%
  );
}
